<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">VIRAJ SHAH </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse h6" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html" id="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about.html" id="About">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="projects.html" id="Projects">Our Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="services.html" id="Services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="contact.html" id="Contact">Contact Us</a>
          </li>
                                              
      </div>
    </div>
  </nav>
