main{
    padding-top: 3%;
    /* background-color: #171717; */
}

#mainContent{
    padding-top: 10%;
}

.bg-black{
    background-color: #171717 !important;
}

.navbar-brand{
    font-size: 25px;    
}

.mission{
    font-size: 25px;
    font-weight: 100;
    
}

.mission a{
    text-decoration: none;
    color: #171717;
}

.mission:hover i{
    padding-left: 1%;
    transition: all .5s;
}


#AboutMe {
    padding-top: 15%;
    font-size: 20px;
}

#BrandLogo{
    filter: invert(1);
    padding-top: 2%;
}

#BrandLogo:hover {
    padding-top: 3%;
    transition: all .5s;
}

#PortfolioImg{
    width: 45%;
}

#AboutImg{
    column-width: 20%;
}

.card-text{
    padding-top: 4%;
}

.services>.card{
    border: 0;
    margin-left: 5%;
    margin-top: 1%;
    padding: 0;
}

.services>.card>.card-body{
    border: 1px solid #dadada;
}


.services>.card>.card-title{
    margin: 0;
    padding-top: 2%;
}

.projects{
    margin: 0;
    padding: 0;
}

.projects>.card{
    margin-left: 5%;
    margin-top: 2%;
    padding: 0;
}
